<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include menu %>


    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laborum atque fuga, voluptatum placeat optio blanditiis, 
      nostrum asperiores sit reiciendis nam itaque nihil dolore et odit veniam beatae quo doloremque?
    </p>

    <%- include footer %>


  </body>
</html>
